/* Simplest CSS Reset to prevent headaches */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

:root {
  margin: 0;
  font-family: 'Share Tech', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

button:not([disabled]) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* button {
  all: unset;
}

button:focus {
  outline: 1px solid #000000;
} */